@page
@using icbincvdt.Models
@model icbincvdt.Pages.CVs.ManageCVModel
@inject UserManager<ApplicationUser> UserManager

@{
    var user = UserManager.GetUserAsync(User).Result;
    ViewData["Title"] = "Manage CV";
}

<h1>Manage</h1>

<div>
    <h4>CV</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CV.Summary)
        </dt>
        <dd class="col-sm-10">
            <table class="table table-dark">
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.CV.Summary)
                    </td>
                    <td>
                        <a asp-page="./EditCV" asp-route-id="@Model.CV.CVID">Edit CV</a>
                    </td>
                </tr>
            </table>
        </dd>
        <dt class="col-sm-2">
            Profile
        </dt>
        <dd class="col-sm-10">
            <table class="table table-dark">
                <tr>
                    <th scope="col">Name </th>
                    <th scope="col">E-Mail</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Address</th>
                </tr>
                <tr>
                    <td>@user.FirstName @user.LastName</td>
                    <td>@User.Identity.Name</td>
                    <td>@user.PhoneNumber</td>
                    <td>@user.Address , @user.ZipCode @user.City , @user.Country</td>
                </tr>
            </table>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CV.Educations)
        </dt>
        <dd class="col-sm-10">
            <table class="table table-dark">
                <tr>
                    <th scope="col">School</th>
                    <th scope="col">Description</th>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                </tr>
                @foreach (var item in Model.CV.Educations)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EducationTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EducationText)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EducationDateBegin)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EducationDateEnd)
                        </td>
                        <td>
                            <a asp-page="./EditEducation" asp-route-id="@item.EducationID">Edit</a>
                        </td>
                    </tr>
                }
            </table>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CV.Experiences)
        </dt>
        <dd class="col-sm-10">
            <table class="table table-dark">
                <tr>
                    <th scope="col">Experience</th>
                    <th scope="col">Descritpion</th>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                </tr>
                @foreach (var item in Model.CV.Experiences)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExperienceTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExperienceText)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExperienceDateBegin)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExperienceDateEnd)
                        </td>
                        <td>
                            <a asp-page="./EditExperience" asp-route-id="@item.ExperienceID">Edit</a>
                        </td>
                    </tr>
                }
            </table>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CV.Skills)
        </dt>
        <dd class="col-sm-10">
            <table class="table table-dark">
                <tr>
                    <th scope="col">Skill</th>
                    <th scope="col">Description</th>
                    <th scope="col">Rating (out of 100)</th>
                </tr>
                @foreach (var item in Model.CV.Skills)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SkillTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SkillText)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SkillRating)
                        </td>
                        <td>
                            <a asp-page="./EditSkill" asp-route-id="@item.SkillID">Edit</a>
                        </td>
                    </tr>
                }
            </table>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CV.References)
        </dt>
        <dd class="col-sm-10">
            <table class="table table-dark">
                <tr>
                    <th scope="col">Name and Company</th>
                    <th scope="col">Phone Number</th>
                </tr>
                @foreach (var item in Model.CV.References)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReferenceName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReferencePhoneNumber)
                        </td>
                        <td>
                            <a asp-page="./EditReference" asp-route-id="@item.ReferenceID">Edit</a>
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>